<br>
<img src="https://github.com/scds/bits-and-pieces/blob/main/relevant-research.png?raw=true" alt="Relevant Research Logo" width="600">
<br>
Brought to you by the <a href="https://scds.ca\">Lewis & Ruth Sherman Centre for Digital Scholarship</a> and the McMaster <a href="https://cress.mcmaster.ca\">Centre for Research in Empirical Social Sciences (CRESS)</a>.
<br>
<br>
The Relevant Research Series is generously funded by the <a href="https://www.sshrc-crsh.gc.ca/">Social Sciences and Humanities Research Council</a>.
<br>
<img src="https://github.com/scds/bits-and-pieces/blob/main/SSHRC.jpg?raw=true" alt="SSHRC Logo" width="600">

